<?xml version="1.0"?>
<configuration>

  <configSections>
	<section name="PurpleConfiguration" type="Purple.Core.PurpleConfiguration, Purple.Core" />
  </configSections>

  <PurpleConfiguration defaultDataProvider="XmlProvider"
	  pageSuffix=" | Purple CMS"
	  defaultMasterPageFilename="Default.Master"
	  baseUrl="http://mygreatsite.com/"
	  cmsPath="~/cms/"
      roleSuperAdmin="purple-superadmin"
	  roleEditor="purple-editor"
	  trailingSlash="false"
	>
	<providers>
	  <add name="SqlProvider" type="Purple.Core.PurpleSqlDataProvider, Purple.Core" connectionString="cmsConnectionString" />
	  <add name="XmlProvider" type="Purple.Core.PurpleXmlDataProvider, Purple.Core" />
	</providers>
  </PurpleConfiguration>

  <connectionStrings>
	<add name="cmsConnectionString"
		 connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=App_Data\PurpleCMS.mdf;Integrated Security=True;User Instance=True" />
  </connectionStrings>

  <system.web>

	<!-- IIS 6.0 -->
	<!--
	<httpModules>
	  <add name="PurpleCmsModule" type="Purple.Core.PurpleCmsModule, Purple.Core "/>
	</httpModules>
	-->

	<authentication mode="Forms">
	  <forms loginUrl="~/account/login" name=".purpleAuth" protection="All" slidingExpiration="true" timeout="20160" />
	</authentication>

	<membership defaultProvider="XmlMembershipProvider" userIsOnlineTimeWindow="20160">
	  <providers>
		<clear/>
		<add name="XmlMembershipProvider" type="XmlProviders.XmlMembershipProvider, App_Code" 
			 	description="XML membership provider" passwordFormat="Hashed"/>
	  </providers>
	</membership>
	
	<roleManager defaultProvider="XmlRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".purpleRoles">
	  <providers>
		<clear/>
		<add name="XmlRoleProvider" type="XmlProviders.XmlRoleProvider, App_Code" description="XML role provider"/>
	  </providers>
	</roleManager>

	<compilation debug="true" targetFramework="4.0" defaultLanguage="c#" />
	<pages clientIDMode="Static" validateRequest="false" />
	<!-- for now validateRequest="false" for HTML editing. TODO: encode before saving -->
	<httpRuntime requestValidationMode="2.0" />
	<!-- this is required to set validateRequest="false" for editing pages -->
  </system.web>
  <system.webServer>
	<modules runAllManagedModulesForAllRequests="true">
	  <add name="PurpleModule" type="Purple.Core.PurpleCmsModule, Purple.Core "/>
	</modules>
  </system.webServer>

</configuration>
